/* Add this CSS to your stylesheet */
.buyTickets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center-align text */
    height: 100vh; /* Full viewport height */
    margin: 0 auto; /* Ensure horizontal centering */
    text-align: center;
  font-size: 200%;
  margin-bottom: 25px;
  text-shadow: 
        0 0 2px #f7784a, 
        0 0 4px #f7784a, 
        0 0 6px #f7784a, 
        0 0 8px #f7784a, 
        0 0 10px #f7784a;
  width: 100%;
  }
  button{
    margin-bottom: 25px;
  /* text-shadow: 
        0 0 2px #f7784a, 
        0 0 4px #f7784a, 
        0 0 6px #f7784a, 
        0 0 8px #f7784a, 
        0 0 10px #f7784a; */
  }

