body.active-modal {
    overflow-y: hidden;
}
.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(49, 49, 49, 0.8);
}

.modal{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

    
.modalcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #07071d;
    padding: 14px 28px;
    border-radius: 3px;
    width: 70%;
    max-height: 60%;
    overflow: auto;
}

.closemodal {
    position: fixed;
    top: 0px;
    right: 10px;
    color: white;
    background-color: transparent;
    scale: 1.2;
    cursor: pointer;
}
.closemodal:hover{
    color: red;
}
.name {
    font-size: 2.5em;
}
.speaker{
    padding-top:15px;
}
.speaker img{
    width: 30%;
    float: left;
    padding-right: 20px;
}
.speaker h2{
    clear: left;
    font-size: 1.4em;
    max-width: 30%;
    text-align: center;
}
.speaker p{
    padding: 10px;
    font-size: 1.1em;
}
