body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h1,
  h2,
  h3 {
    color: red;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: square;
    margin-left: 20px;
  }
  
  a {
    color: #cd5c5c;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .updated-date {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 20px;
}
  